body {
	color: white;
	font-family: sans-serif;

	background: conic-gradient(
		from 45deg,
		rgba(255, 255, 255, 0.02) 90deg,
		transparent 90deg 180deg,
		rgba(255, 255, 255, 0.02) 180deg 270deg,
		transparent 270deg 360deg

	),
	radial-gradient(#0000 , #000);
	background-size: 100px 100px, 100% 100%;
	background-color: #212121;
	background-attachment: fixed;
}
.Container {
	max-width: 992px;
	margin: 0 auto;
	padding: 2rem 1rem;
}
.Heading {
	color: var(--color-primary);
	font-size: calc(var(--font-size) * 4);
}
.Intro {
	margin: 1em 0 4em;
}
.Heading,
.Intro {
	text-align: center;
}
.Arts {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
} 
.Art {
	flex: 270px 1;

	background-color: rgba(255, 255, 255, 0.15);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);

	border: 1px solid rgba(255, 255, 255, 0.2);
	margin: 1em 0 0 1em;
	border-left: 1px solid rgba(255, 255, 255, 0.4);
	border-top: 1px solid rgba(255, 255, 255, 0.4);

	color: black;
	border-radius: 5px 16px 5px 16px;
	text-decoration: none;
	color: var(--color-primary);
	overflow: hidden;
	transition: 250ms;
}
.Art:hover {
	transform: perspective(500px) translateZ(1rem);
}
.Art img {
	width: 100%;
	height: auto;
	min-height: 170px;
	border-radius: 5px 16px 5px 16px;
}
.Art strong {
	display: inline-block;
	padding: 0.8em;
}

.Art strong small {
	font-weight: 400;
	color: grey;
}