*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	tranform-style: preserve-3d !important;
}

/*window style*/

.window {
	position: absolute;
	top: 1em;
	left: 1em;
	bottom: 1em;
	width: 60%;
	border: 6px solid orange;
	box-sizing: border-box;
}
.window::before,
.window::after {
	content: '';
	height: 100%;
	width: 6px;
	background-color: orange;

	position: absolute;
	top: 0;
	z-index: 3;
}
.window::before {
	left: 30%;
}
.window::after {
	right: 33%;
}
.window .rod {
	position: absolute;
	left: 0;
	height: 1px;
	width: 100%;
	background: red;
}
.window .rod:first-child {
	top: 26.67%;
}
.window .rod:nth-child(2){
	bottom: 26.67%;
}
.window .rod::before,
.window .rod::after {
	content: '';
	height: 100%;
	width: 100%;
	background: inherit;

	position: absolute;
	left: 0;
}
.window .rod::before {
	bottom: 0.7em;
}
.window .rod::after {
	top: 0.7em;
}

/*end of windows styles*/

.scene {
	width: 100vw;
	height: 100vh;
	overflow: auto;

	scroll-behavior: smooth;

	perspective: 800px;
	transform-style: preserve-3d;

	display: grid;
	place-items: center;
	background-color: black;
	padding: 5em;
}
.building {
	--face-width: 25em;
	--face-height: 27em;
	--inset: 2em;

	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;
	z-index: 3;
}
.face1,
.face2,
.face3,
.face4,
.face5,
.face6 {
	position: relative;
	z-index: 3;
	transform-style: preserve-3d;
}
.face1,
.lantel {
	background:  conic-gradient(
		transparent 90deg, 
		rgba(0, 0, 0, 0.1) 90deg 180deg, 
		transparent 180deg 270deg, 
		rgba(0, 0, 0, 0.1) 270deg 360deg
	);
	background-size: 10px 10px;
	background-color:  rgba(204, 0, 0, 1);
}
.face1 {
	width: var(--face-width);
	height: var(--face-height);
	z-index: 5;
}
.face1::before,
.face1::after {
	content: '';
	position: absolute;
}
.face1::before {
	height: 10px;
	background: white;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	top: -10px;
	left: -0.5em;
	right: -0.2em;
}
.face1::after {
	height: 100%;
	width: var(--inset);
	background-color: red;
	transform-origin: left center;
	border-top: 5px solid grey;
	transform: rotateY(80deg);

	left: 100%;
	top: 0;
}
.face1__insetface {
	width: calc(0.7 * var(--face-width));
	height: calc(0.65 * var(--face-height));

	position: absolute;
	right: 0;
	bottom: 0;
}
.face1 .sidewall {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 2px;
	width: 1em;
	height: 100%;
	background: #eaeaea;
}
.face1 .flowerpot__lawn {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 40px;
	width: calc(1.08 * var(--face-width));
	transform: skewX(-25deg) rotateX(50deg) translate3d(0.8em, 90%, 0.6em);
	background: conic-gradient(from 315deg, rgba(0, 0, 0, 0.4) 90deg, transparent 90deg 360deg);
	background-size: 10px 10px;
	background-color: rgba(0, 54, 0, 1);
}
.face1__insetface .window {
	width: 80%;
	right: 1em;
	left: unset;
	top: 0.5em;
	bottom: 45%;
	background: radial-gradient(#0000, #000);
	background-color: orange;
}
.face1__insetface .window .rod {
	background-color: rgba(0, 0, 0, 0.3);
	height: 2px;
}
.face1__windowwall {
	height: 95%;
	margin-left: 1em;
	margin-right: 0.5em;
	background-color: white;
}
.face2 {
	height: var(--face-height);
	width: calc(0.40 * var(--face-width));
	background:  conic-gradient(
		rgba(255, 132, 0, 0.195) 90deg, 
		rgba(0, 0, 0, 0.1) 90deg 180deg, 
		#ecedf0 180deg 270deg, 
		rgba(0, 0, 0, 0.1) 270deg 360deg
	);
	background-size: 5px 5px;
	background-color: #eaeaea;
	transform: translateZ(calc(-1 * var(--inset)));
	margin-left: 0.3em;
	z-index: 3;
}
.face2 .sidewall {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	transform: translateX(100%) rotateY(90deg);
	transform-origin: left center;
}
.face2::before,
.face2::after {
	content: '';
	position: absolute;
}
.face2::before {
	background: darkgrey;
	height: 7px;
	border-bottom: 2px solid grey;

	bottom: calc(100% - 7px);
	right: -0.6em;
	left: 0;
}
.face2::after {
	left: 100%;
	top: 5px;
	border: 0.5em solid transparent;
	border-bottom-width: 1em;
	border-top-width: 0;
	border-left-color: grey;
	border-left-width: 0.6em;
}
.face2 .window-wrapper {
	top: 40%;
	height: 40%;
	z-index: 2;

	background: inherit;
	position: relative;
}
.face2 .window-wrapper .window {
	right: 0.8em !important;
	left: 0.5em;
	width: 70%;
	height: 140px;

	border-color: darkgrey;
	background: radial-gradient(#0000, #000);
	background-color: rgba(255, 255, 255, 0.4);
}
.face2 .window::before,  
.face2 .window::after {
	background-color: darkgrey;
}
.face2 .window .rod {
	background-color: rgba(0, 0, 0, 0.5);
}
.face2 .lantel {
	height: 20px;
	width: 120%;

	position: absolute;
	z-index: 1;
}
.face2 .lantel--top {
	top: 40%;
	left: -0.6em;
	transform: translateY(-25px);
}
.face2 .lantel--bottom {
	bottom: 15%;
	left: -0.6em;
	transform: translateY(15px);
}
.face2 .lantel::before {
	content: '';
	width: calc(100% - 0.6em);

	position: absolute;
	background:  conic-gradient(
		transparent 90deg, 
		rgba(0, 0, 0, 0.1) 90deg 180deg, 
		transparent 180deg 270deg, 
		rgba(0, 0, 0, 0.1) 270deg 360deg
	);
	background-size: 5px 5px;
	background-color:  rgba(120, 0, 0, 1);
}
.face2 .lantel.lantel--top::before {
	height: 30px;
	top: 100%;
	right: 0;
	transform: rotateX(-65deg) skewX(-20deg);
	transform-origin: top center;
}
.face2 .lantel.lantel--bottom::before {
	bottom: 100%;
	right: 0;
	height: 60px;
	transform-origin: bottom center;
	transform: rotateX(-65deg) skewX(15deg);
}
.face3 {
	width: var(--face-width);
	height: var(--face-height);
	background: 
		conic-gradient(
			#ecedf0 90deg, 
			grey 90deg 135deg, 
			lightgrey 135deg 180deg,
			orange 180deg 225deg, 
			darkgrey 225deg 270deg, 
			white 270deg 360deg
		), 
		radial-gradient(#0000 60%, #000);
	background-size: 15px 4px, 100% 100%;
	background-color: grey;
	transform: translateZ(calc(-5 * var(--inset)));
	margin-left: -1.5em;
	z-index: 2;
}
.face3 .ceiling {
	position: absolute;
	top: -20px;
	width: 120%;
	height: 15px;
	background-color: rgba(70, 41, 0, 1);
}
.face3 .ceiling::before,
.face3 .ceiling::after {
	content: '';
	position: absolute;
}
.face3 .ceiling::before {
	width: 100%;
	top: 100%;
	height: 10px;
	transform-origin: top center;
	transform: skewX(-85deg);
	border-right: 5px solid #eaeaea;
}
.face3__smallwindow {
	width: 4em;
	height: 4em;
	border: 1em white solid;
	background: black;
	transform-style: preserve-3d;

	position: absolute;
	top: 50%;
	left: 10%;
	transform: translateY(-100%);
}
.face3__bigwindow-wrapper {
	background-color: white;
	height: 8em;
	width: 60%;

	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}
.face3__bigwindow-wrapper .window {
	background: black;
}
.face4 {
	background-color: #ededed;
	height: var(--face-height);
	width: calc(var(--face-width) * 0.3);
	transform: translateZ(calc(var(--inset) * -5)) rotateY(-45deg);
	transform-origin: left center;
	border-bottom: 1px solid rgb(80, 0, 0);
	border-top: 1px solid rgb(80, 0, 0);
}
.face4::before,
.face4::after {
	content: '';
	width: 100%;
	height: 30%;

	position: absolute;
	left: 0;
	background: conic-gradient(
		rgba(0, 0, 0, 0.1) 90deg,
		transparent 90deg 180deg,
		rgba(0, 0, 0, 0.1) 180deg 270deg,
		transparent 270deg 360deg
	);
	background-size: 8px  8px;
	background-color: rgb(80, 0, 0);
}
.face4::before {
	top: 0;
}
.face4::after {
	bottom: 0;
}
.face4 .window-wrapper {
	position: absolute;
	top: 30%;
	z-index: -1;

	width: 100%;
	height: 60%;
	transform: translateX(1em);
}
.face4 .window-wrapper .window {
	border-color: black;
	background: radial-gradient(#0000 20%, #000);
	background-position: 50% 0%;
	background-color: darkgrey;
	transform: skewY(1deg);
}
.face4 .window-wrapper .window .rod,
.face4 .window-wrapper .window::before {
	background-color: black;
}
.face4 .window-wrapper .window::before {
	left: 50%;
}
.face4 .window-wrapper .window::after {
	display: none;
}
.face4 .window-wrapper .window .rod::before {
	top: -1em;
}
.face4 .window-wrapper .window .rod::after {
	bottom: -1em;
}
.face5 {
	overflow: hidden;
	z-index: 4;

	background: linear-gradient(to right, lightgrey, #ecedf0);
	height: var(--face-height);
	width: calc(var(--face-width) * 0.75);
	transform: translate3d(-3em, 0, calc(var(--inset) * -4)) rotateY(20deg);
}
.face5 .top,
.face5 .top::after,
.face5 .top::before,
.face5 .bottom__left,
.face5 .bottom__right,
.face5 .bottom__left::before,
.face5 .bottom__right::before
{
	background:  conic-gradient(
		transparent 90deg, 
		rgba(0, 0, 0, 0.1) 90deg 180deg, 
		transparent 180deg 270deg, 
		rgba(0, 0, 0, 0.1) 270deg 360deg
	);
	background-size: 10px 10px;
	background-color:  rgba(199, 53, 0, 1);
}
.face5 .top {
	height: 20%;
	width: 100%;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
}
.face5 .top::before,
.face5 .top::after  {
	content: "";
	height: 150%;

	position: absolute;
	top: 0;
}
.face5 .top::before {
	width: 30px;
	left: 0;
}
.face5 .top::after {
	width: 20px;
	right: 0;
}
.face5 .bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30%;
	z-index: 3;
}
.face5 .bottom__right,
.face5 .bottom__left {
	width: 30%;
	height: 30%;

	position: absolute;
	bottom: 0;
}
.face5 .bottom__right::before,
.face5 .bottom__left::before {
	content: "";
	width: 30px;
	height: 334%;

	position: absolute;
	bottom: 0;
}
.face5 .bottom__left::before,
.face5 .bottom__left {
	left: 0;
}
.face5 .bottom__right::before,
.face5 .bottom__right {
	right: 0;
}
.backwall {
	width: 70%;
	height: 90%;
	background: conic-gradient(
		rgba(0, 0, 0, 0.1) 90deg,
		transparent 90deg 180deg,
		rgba(0, 0, 0, 0.1) 180deg 270deg,
		transparent 270deg 360deg
	);
	background-size: 8px  8px;
	background-color: rgb(80, 0, 0);

	transform: skewY(10deg);

	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}

/* compound styles */

.compound {
	height: 40em;
	background-color: #eaeaea;

	position: absolute;
	top: 60%;
	left:  -20%;
	right: -10%;

	transform:  rotateX(60deg);
	z-index: 1;
}
.grass {
	position: absolute;
	top: 15em;
	left: 10em;
	right: 10em;
	bottom: 5em;

	background: conic-gradient(from 315deg, rgba(0, 0, 0, 0.2) 90deg, transparent 90deg 360deg);
	background-size: 10px 10px;
	background-color: rgba(0, 194, 0);
	border: 5px solid darkgrey;
	border-bottom: none;
}