.scene {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ecedf0;
}
.scene::after,
.scene::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
}
.scene::after {
	bottom: 0;
	height: 150px;
	background: lightgrey;
}
.scene::before {
	bottom: 150px;
	height: 20px;
	background-color: white;
}
.Name {
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 0.5em;
	width: 100%;
	text-align: center;
	transform: translateX(-50%);
	z-index: 2;

	text-transform: uppercase;
	font-size: 90px;
	font-family: sans-serif;
	color: transparent;

	background: radial-gradient(white,  #00438D 10%, #E32228);
	background-size: 50% 100%;
	-webkit-background-clip: text;
	background-clip: text;
}
.shield,
.star__wrapper,
.shield__white {
	border-radius: 50%;
	display: grid;
	place-items: center;
}
.shield {
	--size: 400px;

	position: fixed;
	left: 50%;
	bottom: 70px;
	transform: translateX(-50%);

	z-index: 2;
	width: var(--size);
	height: var(--size);
	background: #E32228;
	overflow: hidden;
}
.shield::before {
	content: "";
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;
	background: radial-gradient(circle at 50% 10%, #0000 50%, #0007);
	background-size: 100% 100%;
}
.shield__white {
	width: calc(var(--size) - 150px);
	height: calc(var(--size) - 150px);
	background: white;
}
.star__wrapper {
	width: calc(var(--size) - 250px);
	height: calc(var(--size) - 250px);
	background: #00438D;
	overflow: hidden;
}
.star {
	width: 100%;
	height: 100%;
	background: white;
	clip-path: polygon(
		50% 0,
		65% 30%,
		100% 30%,
		70% 55%,
		90% 90%,
		50% 70%,
		10% 90%,
		30% 55%,
		0% 30%,
		35% 30%
	);
}
.shadow {
	height: 30px;
	width: 300px;
	border-radius: 100%;
	background: linear-gradient(to bottom, #000 50%, transparent);
	filter: blur(20px);

	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}